:root {
  --primary: #154c79;
  --primary200: #063970;
  --background-gray: #eeeee4;
}
.app {
  display: grid;
  min-height: 100vh;
  background-color: var(--background-gray);
  grid-template-areas:
    "head head "
    "side body";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
}

.side {
  grid-area: side;
  background-color: var(--primary);
}

.head {
  grid-area: head;
  background-color: white;
}

.body {
  grid-area: body;
}
